<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Topup Game{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>
<nav class="navbar">
    <div class="nav-logo">
        <h2>MyApp</h2>
    </div>

    <input type="checkbox" id="nav-check">
    <label for="nav-check" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/course">Course</a></li>

        {% if session.get("user") %}
            <li><a href="/logout" class="logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</nav>
<button id="darkToggle" class="dark-btn">🌙</button>

<script>
document.getElementById("darkToggle").onclick = () => {
    document.body.classList.toggle("dark");
};
</script>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
